/* --- All Elements --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}


/* --- Blue Panel --- */
.blue_panel {
    background-color: #a0bad8;
    padding: 10px;
    display: flex;
    align-items: center;
}
.blue_panel .types {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-left: 19.4rem;
    align-items: center;
    gap: 0.94rem;
}
.buttons {
    display: flex;
    align-items: center;
}
.logo_dungeon_goodies {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}
.logo_dungeon_goodies:hover {
    opacity: 0.9;
}
.products {
    color: #000;
    font-weight: 780;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    opacity: 0.70;
}
.link_type.products:hover{
    opacity: 0.8;
}
.link_type.sales {
    color: #b91d1d;
    font-weight: 800;
    text-decoration: none;
}
.link_type.sales:hover {
    color: #cd1515;
}

.shopping_cart_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.25rem 5.0rem;
    border-radius: 10px;
    border: none;
    margin-left: 0.5rem;
    cursor: pointer;

    background-color: #561c88;
    color: #fff;
    text-decoration: none;
}

.shopping_cart_btn:hover {
    background-color: #5f1f94;
}

/* --- btn --- */
.btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0.5rem;
    border: none;
}
.btn.sign_in {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 0.8rem;
}
.btn.sign_in:hover {
    opacity: 0.9;
}
.btn.register {
    background-color: #cdcdcd;
    color: #000;
    padding: 0.5rem 0.8rem;
}
.btn.register:hover {
    opacity: 0.9;
}

.btn.favourite {
    background-color: #d793d5;
    color: #FFFFFF;
    padding: 0.5rem 0.8rem;
}

.btn.favourite:hover {
    opacity: 0.9;
}

/* --- Main --- */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.filter-panel {
    width: 250px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
}
.filter-panel h4:first-of-type {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.filter-panel button[type="submit"] {
    margin-top: 20px;
}
.price-display {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    margin-bottom: 5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tag {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.product-type label {
    display: block;
    margin-top: 7px;
}

.products-grid {
    flex-grow: 1;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 25px;
    background: white;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: auto;
}
.search-icon {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-bar {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    background: transparent;
    color: #000;
    padding-right: 35px;
}

.search-bar::placeholder {
    color: #bbb;
}

.search-button {
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
}
.no_results {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-top: 20px;
    font-weight: bold;
}
.sort-options {
    margin-top: 17px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sort-options button {
    background: #eee;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
.sort-options button:hover {
    opacity: 0.9;
}

.sort-options .active {
    background: black;
    color: white;
}
.sort-options .active:hover {
    opacity: 0.8;
}
.sort-options .pa:hover {
    opacity: 0.7;
}
.sort-options .pd:hover {
    opacity: 0.7;
}
.sort-options .ra:hover {
    opacity: 0.7;
}

.price-slider {
    margin: 20px 0;
    height: 40px;
    border-radius: 10px;
}
.noUi-tooltip {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    top: 35px !important;
    bottom: auto !important;
}
.noUi-connect {
    background: #007bff !important;
}
.noUi-handle {
    background: #bdbdbd !important;
    box-shadow: none !important;
    border-radius: 6px;
}
.slider-wrapper {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}
.price-slider {
    height: 30px;
    margin-top: 10px;
    z-index: 1;
}
.price_class {
    margin-bottom: 13px;
}
.filter-panel h4.manufacturer_class {
    margin-top: 16px;
    margin-bottom: 10px;
}
.manufacturer-type {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 0.7rem;
}
.manufacturer-type label {
    display: block;
    margin-bottom: 3px;
}
.format-type {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.format-type label {
    display: block;
    margin-bottom: 3px;
}
.filter-panel h4.format_class {
    margin-top: 13px;
    margin-bottom: 8px;
}
.filter-panel button[type="submit"] {
    margin-top: 0.80rem;
}
.btn-filter {
    background-color: #f64a77;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-filter:hover {
    background-color: #fe3365;
}
.products-grid {
    flex-grow: 1;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
.product-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* tu som mal auto-fit */
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    flex: 1 1 250px; /* toto nie */
    max-width: 280px; /* iba toto som mal povodne */
}

.product_name {
    margin-bottom: 10px;
    font-size: 14px;
}

.product_price {
    font-size: 14px;
    font-weight: bold;
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.product_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fcfcfc;
    border-radius: 5px;
}
.buy-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #F75E85;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #f64a77;
}

.price_wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sale_price {
    font-size: 14px;
    font-weight: bold;
    color: #ba3b3b;
}

.sale-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ba3b3b;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
}

.heart-btn {
    position: absolute;
    right: 11px;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.heart-btn:hover {
    color: #f64a77;
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.image {
    position: relative;
    width: 100%;
    height: 150px;
    background: #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}
.filter-panel h4.rating-title, h4.product-type_class, h4.price_class {
    margin-top: 17px;
}
.filter-panel h4.rating-title {
    margin-bottom: 8px;
}
.star-filter {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.rating-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
}

.rating-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
}
.star {
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
    color: #ccc;
}

.star.active {
    color: #ffc107 !important;
}
.rating-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.rating-btn {
    padding: 4px 10px;
    margin: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
}
.rating-btn:hover {
    background-color: #ffdd78;
    transform: scale(1.03);
}
.rating-btn.active {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
}


/* --- Footer --- */
footer {
    background-color: #b7b7b7;
    padding: 1rem 0;
    color: #333;
}
.bottom_panel {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo_dungeon_goodies {
    width: 40px;
    height: 40px;
    background: url("../Dungeon_goodies.png") center center no-repeat;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}
.logo_dungeon_goodies:hover {
    opacity: 0.9;
}
.information_text {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 8rem;
    align-items: flex-start;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.information_text a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.information_text a:hover {
    color: #666;
}

/* --- Paging ---*/
.paging_part {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1.5rem 0 1rem;
}
.page_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}
.page_circle:hover {
    background-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.page_circle.active {
    background-color: #333;
    color: white;
    text-decoration: none;
}
.page_circle.active:hover {
    background-color: #222;
}

/* --- Other Settings --- */
@media (max-width: 860px) {
    .cart_product {
        flex-direction: row;
        align-items: flex-start;
    }
    .cart_product_right {
        margin-top: 1rem;
        align-items: flex-start;
    }
    .total_part {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .sort-options {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 0;
    }

    .search-container {
        width: 100%;
    }

    .blue_panel {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    .blue_panel .types {
        padding-left: 0;
        flex: 1;
        justify-content: flex-start;
    }

    .buttons {
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    .shopping_cart_btn {
        padding: 0.25rem 1rem;
    }

    .btn {
        width: auto;
    }
}

@media (max-width: 600px) {
    footer{
        width: 600px;
    }
    .bottom_panel {
        width: 600px;
    }
    .information_text {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        align-items: flex-start;
        font-size: 12px;
    }
    .blue_panel{
        width: 600px;
    }
    .blue_panel .types {
        padding-left: 0.1rem;
        font-size: 10px;
        gap: 0.1rem;
    }
    .shopping_cart_btn {
        background-color: #561c88;
        padding: 0.3rem 0.5rem;
    }
    .btn.sign_in {
        padding: 0.5rem 0.5rem;
    }
    .btn.register, .btn.favourite {
        padding: 0.5rem 0.8rem;
    }
    .cart_product {
        flex-direction: column;
        align-items: flex-start;
    }
    .cart_product_right {
        margin-top: 1rem;
        align-items: flex-start;
    }
    .total_part {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .blue_panel .types {
        font-size: 10px;
    }
    .image-placeholder {
        width: 100px;
        height: 100px;
    }
    .product {
        flex-direction: column;
        align-items: center;
    }

    .product_image_wrapper {
        max-width: 150px;
    }

    .paging_part {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-left: 150px;
    }


}
